<%- include('./partials/header.ejs') %>

<h2>Create Your own blogs, Your passions in your own way</h2>
<a href="/blogs/create"> <button>Create your blog</button> </a>

<%- include('./partials/footer.ejs') %>